@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


video-js {
  border-radius: 0.375rem !important;
  box-sizing: border-box !important;
}

/* Hide the progress bar and duration */
.stream .vjs-progress-control,
.stream .vjs-current-time,
.stream .vjs-duration {
  display: none !important;
}

.vjs-control-bar {
  justify-content: center;
}

video {
  border-radius: .375rem !important;
  box-sizing: border-box !important;
}

.video-js {
  border-radius: .375rem !important;
  box-sizing: border-box !important;
}

.vjs-error-display {
  display: none !important;
}
